:root {
    --main-color: #10cab7;
    --secondary-color: #2c4755;
    --section-padding: 60px;
    --section-background: #f6f6f6;
    --main-duration: 0.5s;
    --p-color: #777;
}
* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Work Sans', sans-serif;
    color: black;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.heading h2 {
    color: rgb(237, 237, 237);
    font-size: 100px;
    text-align: center;
    font-weight: 800;
    letter-spacing: -3px;
    margin: 0;
}

.heading p {
    margin: -30px 0 0;
    font-size: 20px;
    text-align: center;
    color: #797979;
}
@media (max-width: 767px) {
    .heading h2 {
        font-size: 60px;
    }

    .heading p {
        margin-top: -20px;
    }
}

header {
    padding: 20px;
}

header img {
    width: 60px
}
header .links .toggle {
    width: 30px;
    cursor: pointer;
}

header .links .toggle span {
    width: 100%;
    height: 2px;
    background-color: var(--secondary-color);
    transition: var(--main-duration);
}

header .links .toggle span.two {
    width: 60%;
}

header .links .toggle span.two.full {
    width: 100%;
}

header .links nav ul {
    right: 0;
    top: 41px;
    transition: var(--main-duration);
}

header .links nav ul.open {
    display: block !important;
    z-index: 1;
}

header .links nav ul li a {
    display: block;
    color: var(--secondary-color);
    font-size: 15px;
    padding: 15px;
    width: 200px;
    transition: var(--main-duration);
}

header .links nav ul li a:hover {
    padding-left: 25px;
}

header .links nav ul li:not(:last-child) {
    border-bottom: 1px solid #ddd;
}

header .links nav .arrow.border {
    position: absolute;
    border: 10px solid;
    border-color: transparent transparent #f6f6f6 transparent;
    top: 15px;
    right: 6px;
}

.landing {
    background-image: url("../images/landing.jpg");
    background-size: cover;
    height: calc(100vh - 64px);
}

.landing .text {
    width: 320px;
}

.landing .text h1 {
    font-size: 50px;
    color: var(--main-color);
}

.landing .text {
    font-size: 19px;
    line-height: 1.8;
}

.features {
    padding-top: 100px;
    padding-bottom: 100px;
    background-color: var(--section-background);
}


.features .feats .feat {
    width: 70%;
    margin-bottom: 30px;
}


@media (min-width: 768px) {
    .features .feats .feat {
        width: calc(92% /2);
        margin-bottom: 30px;
    }
}

@media (min-width: 992px) {
    .features .feats {
        justify-content: space-between;
    }

    .features .feats .feat {
        width: calc(90% / 3);
        margin-bottom: 30px;
    }
}

@media (min-width: 1200px) {
    .features .feats .feat {
        margin-bottom: 0;
    }
}

.features .feats .feat i {
    color: var(--main-color);
    font-size: 50px;
}

.features .feats .feat p {
    line-height: 1.8;
    color: var(--p-color);
    font-size: 17px;
    margin-top: 30px;
}

.services {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.services .row {
    margin-top: 100px;
}

.services .row .info {
    margin-bottom: 30px;
}

.services .row .info i {
    font-size: 35px;
    margin-right: 30px;
    color: var(--main-color);
}

.services .row .info h3 {
    margin-top: 0; 
}

.services .row .info p {
    color: #444;
    line-height: 1.7;
}

.services .row .image {
    position: relative;
}

.services .row .image::before {
    position: absolute;
    content: "";
    width: 100px;
    height: 450px;
    background-color: var(--secondary-color);
    right: 0;
    top: -50px;
}

.services .row img {
    width: 260px;
    transform: translateX(60px);
}
@media(max-width:1200px) {
    .services .row .serve:last-of-type {
        display: none;
    }
    .services .row .image::before {
        display: none;
    }
}

@media(max-width:767px) {
    .services .row .info i {
        margin-right: 0;
        margin-bottom: 20px;
    }

    .services .row .info {
        display: block !important;
        text-align: center;
    }

    .services .row .info h3 {
        margin-bottom: 20px;
    }
}

.portfolio {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.portfolio .projects {
    margin-top: 80px;
    gap: 30px;
}

.portfolio .project {
    flex-basis: calc((100% / 3) - 60px);
    background-color: white;
}

@media (max-width:767px) {
    .portfolio .project {
        flex-basis: 100%;
    }
}

@media(min-width:768px) and (max-width:991px) {
    .portfolio .project {
        flex-basis: calc(50% - 30px);
    }
}

.portfolio .project img {
    max-width: 100%;
    cursor: pointer;
}

.portfolio .project .text {
    padding: 20px 15px;
}

.portfolio .project .text p {
    margin-bottom: 0;
    color: var(--p-color);
    line-height: 1.6;
}

.portfolio .popup-father {
    position: fixed;
    z-index: 20;
}

.overlay {
    position: fixed;
    content: "";
    top: 0;
    left: 0;
    height: 120vh;
    width: 150vh;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 9;
}


.popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400px;
    height: 300px;
    background-color: white;
    padding: 20px;
    z-index: 10;
}

.popup img {
    max-width: 100%;
    min-height: 100%;
    z-index: 11;
}

.popup button {
    position: absolute;
    color: white;
    font-weight: bold;
    background-color: var(--main-color);
    cursor: pointer;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border: none;
    border-radius: 50%;
    top: -10px;
    right: -10px;
    z-index: 11;
}

.about {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}

.about .content {
    margin-top: 60px;
    margin-bottom: 40px;
}

.about .content .image {
    flex-basis: 45%;
}

.about .content .image::before,
.about .content .image::after {
    position: absolute;
    content: "";
    top: -40px;
    z-index: -1;
}

.about .content .image::before {
    width: 100px;
    height: calc(100% + 80px);
    background-color: #ebeced;
    left: -20px;
}

.about .content .image::after {
    border-style: solid;
    border-width: 0 0 80px 80px;
    border-color: transparent transparent var(--main-color) var(--main-color);
    height: 350px;
    width: 200px;
    right: 80px;
}

.about .content .image img {
    max-width: 280px;
}

.about .content .text {
    flex-basis: 55%;
}

.about .content .text p {
    line-height: 2;
}

.about .content .text p:first-of-type {
    margin-bottom: 50px;
}

.about .content .text p:last-of-type {
    color: var(--p-color);
    margin-top: 30px;
}

.about .content .text hr {
    border-color: var(--main-color);
    width: 50%;
    margin-left: 0;
    opacity: 1;
}

@media(max-width: 991px) {
    .about .content {
        flex-direction: column;
    }

    .about .content .image {
        margin-bottom: 20px;
    }
    .about .content .image::before,
    .about .content .image::after {
        display: none;
    }
    .about .content .text {
        text-align: center;
    }
    .about .content .text hr {
        margin: 0 auto;
    }
}
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
    background-color: var(--section-background);
}

.contact .info {
    margin-top: 100px;
    margin-bottom: 40px;
}

.contact .info p {
    color: var(--secondary-color);
    font-size: 35px;
    font-weight: 800;
    letter-spacing: -2px;
    margin-bottom: 15px;
}

.contact .info a {
    color: var(--main-color);
    font-size: 35px;
    font-weight: 800;
}

.contact .social i {
    color: var(--secondary-color);
    margin-left: 5px;
    cursor: pointer;
    transition: var(--main-duration);
}

.contact .social i.one:hover {
    color: #ff0000;
}

.contact .social i.two:hover {
    color: #0866ff;
}

.contact .social i.three:hover {
    color: #03a4ec;
}

@media(max-width: 767px) {
    .contact .info p,
    .contact .info a {
        font-size: 22px;
    }
}

footer {
    background-color: var(--secondary-color);
    height: 80px;
}

footer p {
    line-height: 80px;
    font-size: 18px;
}

footer p span {
    color: var(--main-color);
    font-weight: 700;
}

@media(max-width: 767px) {

}